/* About Section */
.about-content {
  background-color: var(--light-card-bg);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--light-border);
  box-shadow: var(--box-shadow-large);
  margin: 0 auto;
  max-width: var(--max-width-md);
  padding: var(--about-padding);
  text-align: left;
  transition: background-color var(--transition-speed) var(--transition-ease), box-shadow var(--transition-speed) var(--transition-ease);
}

.about-content p {
  font-size: var(--about-p-font-size);
  margin-bottom: var(--margin-bottom-default);
}
