/* Banner Section */
.banner {
  align-items: center;
  background-image: url('../../images/family-cycle-bike-wide-1600x900.jpg');
  background-position: center;
  background-size: cover;
  color: var(--button-text-color);
  display: flex;
  flex-direction: column;
  height: var(--banner-height);
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-shadow: var(--banner-text-shadow);
}

.banner::before {
  background-color: var(--banner-overlay-color);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
}

.banner h1 {
  color: var(--button-text-color);
  font-size: var(--banner-h1-font-size);
  margin-bottom: var(--margin-bottom-default);
}
